body {
  max-width: 45em;
  margin: 0 auto;
  padding: 2vw;
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.6em;
  color: black; /*changed from black*/
}
h1, h2, h3 {
  font-family: sans-serif;
  font-weight: normal;
}